<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <script type="text/javascript">
  function toggle_visibility(id) {
      var box = document.getElementById(id);
      if(box.style.display == 'none')
      {
          box.style.display = 'block';
      }
      else
      {
          box.style.display = 'none';
      }
  }
  </script>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <p/>
  <div class="archive">
    <% for (var i = 0; i < questions.length; i++) { %>
      <article class="article">
        <div class="flip-card">
          <div class="flip-card-inner">
              Q: <%= questions[i].questionText %>
              <p/>
            <div class="flip-card-back">
              A: <%= questions[i].questionAnswer %>
            </div>
          </div>
        </div>
      </article>
    <% } %>
  </div>
  <p/>
  <p/>
  <div id="submitWindow" class="curved-box">
    Please submit new questions here: <br/>
    <form action="/result" method="POST">
      <!-- Creating the parameter Username as type= "text"-->
      <label>Question: </label>
      <input type="text" placeholder="Question" name="question"><br><br>
      <!-- Creating the parameter Email as type= "text"-->
      <label>Answer: </label>
      <input type="text" placeholder="Answer" name="answer"><br><br>
      <!-- Creating the submit button -->
      <button>Submit</button>
  </form>
  </div>
  <p/>
  <p/>
  <% if (hasSubmitted) { %>
    <div id="confirmSubmit" visibility="none">Video uploaded!</div>
  <% } %>
  <div id="submitFileWindow" class="curved-box">
    Please upload new recordings using this form: <br/>
  <form action='/recordingResult' method='POST' enctype='multipart/form-data'>
    <input type='file' name='userFile'><br>
    <input type='submit' name='upload_btn' value='upload'>
</form>

  </div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>