<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %><div class="container-fluid bg-3 text-center"> 
  <br/>
  <div class = "row">
    <span class = "home-title">
    Communication
    </span>
  </div>
  <p/>
  <div class="row">
      <div class="col-md-4">
        <button class="button-46">Email</button>
      </div>
      <div class="col-md-4">
        <button class="button-46">Yammer</button>
      </div>
  </div>
  <p/>
  <div class = "row">
    <span class = "home-title">
    Learning Resources
    </span>
  </div>
  <p/>
  <div class="row">
    <div class="col-md-3">
      <button class="button-46">LMS/DMS</button>
    </div>
    <div class="col-md-3">
      <button class="button-46">LinkedIn Learning</button>
    </div>
    <div class="col-md-3">
      <button class="button-46">Mock Test Generator</button>
    </div>
    <div class="col-md-3">
      <button class="button-46">Training Portal</button>
    </div>
  </div>
  <p/>
  <div class = "row">
    <div class="col-md-3">
      <button class="button-46">Interview Preparation Portal</button>
    </div>
  </div>
  <p/>
  <div class = "row">
    <span class = "home-title">
    Recruitment
    </span>
  </div>
  <p/>
  <div class="row">
    <div class="col-md-4">
      <button class="button-46">Placement Recuitment</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Internal Opportunities</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Academy Hub</button>
    </div>
  </div>
  <p/>
  <div class = "row">
    <span class = "home-title">
      Timesheets and Holiday Requests
    </span>
  </div>
  <p/>
  <div class="row">
    <div class="col-md-4">
      <button class="button-46">ADP</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Kimble</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Success Factors</button>
    </div>
  </div>
</p>
<div class = "row">
  <span class = "home-title">
    Attendance
  </span>
</div>
<p/>
<div class="row">
  <div class="col-md-4">
    <button class="button-46">Attendance Management System</button>
  </div>
</div>
</div>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>