<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center"> 
  <br/>
Question added successfully:
<p/>
<%= result %>
<p/>
<button class="button-46"><a href="/addQuestions">Click here to return to the Question Bank.</a></button>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>