<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %><div class="container-fluid bg-3 text-center"> 
  <br/>
Result page!
Question added successfully:
<%= result %>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>