<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %><div class="container-fluid bg-3 text-center">    
  <p/>
  <div class="row">
    <div class="col-md-4">
      <button class="button-46">Kimble</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Yammer</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Success Factors</button>
    </div>
  </div>
  <p/>
  <div class="row">
    <div class="col-md-4">
      <button class="button-46">Academy Hub</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">Microsoft Teams</button>
    </div>
    <div class="col-md-4">
      <button class="button-46">ADP</button>
    </div>
  </div>
  <p/>
  <div class="row">
    <div class="col-md-4">
      <button class="button-46">LMS/DMS</button>
    </div>
  </div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>