<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %><div class="container-fluid bg-3 text-center">    
  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=25"></div>
          <div class="card_content">
            <h2 class="card_title">Training Resources</h2>
            <p class="card_text">Find training resources here</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=35"></div>
          <div class="card_content">
            <h2 class="card_title">Mock Interview Questions</h2>
            <p class="card_text">Find a list of mock interview questions here</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=55"></div>
          <div class="card_content">
            <h2 class="card_title">Previous Mock Interview tests</h2>
            <p class="card_text">Find a list of previous mock interview tests here</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>