body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}

.logo {
  height: 25px;
  width: 52.6px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: #1abc9c !important;
}.active>a {
color: #1abc9c !important;;
}

.footer{
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* CSS */
.button-46 {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.button-46:active,
.button-46:hover {
  outline: 0;
}

.button-46:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .button-46 {
    font-size: 16px;
    min-width: 200px;
    padding: 14px 16px;
  }
}

.home-title {
   color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; float: left
  }

  /**
  recruitment
  **/
  /* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


img {
  max-width: 100%;
}

.profile_link {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html {
  height: 100%;
  font-family: "Poppins";
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}

.container-fluid {
  padding: 0px;
}

.profile_body {
  background-color: #f5f8fc !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6A6A6A;
  overflow-x: hidden;
}

.section-title {
  padding: 30px;
  margin: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .section-title {
    padding: 5px;
  }
}
.section-title h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-size: 0.9rem;
  margin-top: 6px;
}
.section-title span {
  float: right;
  font-style: italic;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0px;
}
.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #863dd9;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: 300px;
}
.inner-title p {
  width: 100%;
  text-align: center;
}
.inner-title .btn {
  float: right;
  margin-top: -38px;
  font-weight: 600;
  font-size: 0.8rem;
}

.page-nav {
  background-size: 100%;
  padding: 68px;
  text-align: center;
  background-color: #eaeaea;
}
.page-nav ul {
  float: none;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .page-nav {
    background-size: auto;
  }
}
@media screen and (max-width: 767px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 356px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}
.page-nav h2 {
  font-size: 28px;
  width: 100%;
  font-weight: 700;
  color: #444;
}
@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}
.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 0.93rem;
  font-weight: 600;
  color: #444;
}
.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}
.page-nav ul li a {
  color: #444;
  font-size: 0.93rem;
  font-weight: 600;
}

.btn-success {
  background-color: #51be78;
  border-color: #51be78;
}
.btn-success:hover {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}
.btn-success:active {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}
.btn-success:focus {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #8119f5;
  border-color: #8119f5;
}
.btn-primary:hover {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}
.btn-primary:active {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}
.btn-primary:focus {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: #8119f5;
  color: #8119f5;
}
.btn-outline-primary:hover {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}
.btn-outline-primary:active {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}
.btn-outline-primary:focus {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #CCC;
}

.btn-light {
  background-color: #FFF;
  color: #3F3F3F;
}

.collapse.show {
  display: block !important;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #CCC;
}

.form-control {
  background-color: #F8F8F8;
  margin-bottom: 20px;
}
.form-control:focus {
  background-color: #FFF;
  border-color: #CCC;
}

.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}

/* ===================================== Basic CSS ==================================== */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.fw-md {
  font-weight: 600;
}

.fw-sm {
  font-weight: 500;
}

.big-padding {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .big-padding {
    padding: 30px 10px;
  }
}

.bggray {
  background-color: #F7F5F4 !important;
}

.shadow-md {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xs {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.13);
}

.truncate-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  overflow: hidden;
  line-height: 21px;
}

.truncate-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 82px;
  overflow: hidden;
  line-height: 21px;
}

.truncate-6 {
  display: -webkit-box !important;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  height: 130px;
  overflow: hidden;
  line-height: 21px;
}

.rtable {
  max-width: 500px;
  float: none;
  margin: auto;
}
.rtable tr td {
  padding: 5px;
}

.fs-7 {
  font-size: 0.95rem;
}

.fs-8 {
  font-size: 0.9rem;
}

.sticky {
  position: sticky;
}

.bg-gray {
  background: rgba(217, 217, 217, 0.25);
}

.btn-xs {
  padding: 2px 8px;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.btn-xs i {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .bordernosm {
    border: 0px !important;
  }
}

.h400 {
  height: 400px;
  overflow: auto;
}

.sticky-top-90 {
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  z-index: 1020;
}

.fs-9 {
  font-size: 0.79rem;
}

.fs-55 {
  font-size: 1.1rem;
}

.mt-25 {
  margin-top: 11px;
}

.width-fit {
  width: fit-content;
}

.text-justify {
  text-align: justify;
}

.head {
  position: fixed;
  background-color: #fff;
  width: 260px;
  height: 100vh;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
}
@media screen and (max-width: 991px) {
  .head {
    position: relative;
    width: auto;
    height: auto;
  }
}
.head .logo {
  padding: 15px;
}
.head .logo img {
  max-width: 250px;
}
@media screen and (max-width: 991px) {
  .head .logo {
    padding: 20px 15px;
  }
}
.head .navcol {
  padding-top: 15px;
}
.head .navcol ul li {
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}
.head .navbar-toggler {
  float: right;
  margin-top: 10px;
  padding-right: 0px;
}
.head .navbar-toggler i {
  font-size: 2rem;
}

.main-content {
  margin-left: 260px;
}
@media screen and (max-width: 991px) {
  .main-content {
    margin-left: 0px;
  }
}

html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

.profile-head img {
  max-width: 270px;
}

/*# sourceMappingURL=style.css.map */
.calendar {
  text-align: center;
  }
  
  .calendar header {
   position: relative;
  }
  
  .calendar h2 {
   text-transform: uppercase;
  }
  
  .calendar thead {
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .calendar tbody {
    color: #fff;
  }
  
  .calendar tbody td:hover {
  border: 2px solid #00addf;
  }
  
  .calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 4em;
  }
  
  .calendar .prev-month,
  .calendar .next-month {
  color: #cbd1d2;
  }
  
  .calendar .prev-month:hover,
  .calendar .next-month:hover {
  border: 2px solid #cbd1d2;
  }
  
  .current-day {
  background: #00addf;
  color: #f9f9f9;
  }
  
  .event {
  cursor: pointer;
  position: relative;
  }
  
  .event:after {
  background: #00addf;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: "";
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
  }
  
  .event.current-day:after {
  background: #f9f9f9;
  }
  
  .btn-prev,
  .btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
  }
  
  .btn-prev:hover,
  .btn-next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
  }
  
  .btn-prev {
  left: 6em;
  }
  
  .btn-next {
  right: 6em;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-container{
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}
.quiz-container > p{
    font-size: 32px;
}
.question{
    width: 75%;
}
.options{
    position: relative;
    padding-left: 40px;
}
#options label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: #21bf73;
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.btn-primary{
    background-color: #555;
    color: #ddd;
    border: 1px solid #ddd;
}
.btn-primary:hover{
    background-color: #21bf73;
    border: 1px solid #21bf73;
}
.btn-success{
    padding: 5px 25px;
    background-color: #21bf73;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}
.curved-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
  background-color: transparent;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 90%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
} 

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 6px
}

.page {
  padding: 2em;
  background: #cecece;
  max-width: 1300px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.article {
  padding: 1em;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.article::after {
  color: white;
  font-weight: bold;
  font-family: courier;
}
